<div class="container">
    <h3 class="heading">Sign in to the App</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off" class="form">
        <app-input [formControl]="$any(loginForm.controls['email'])" [label]="'Email'" [type]="'email'"></app-input>
        <app-input [formControl]="$any(loginForm.controls['password'])" [label]="'Password'" [type]="'password'"></app-input>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Sign in</button>
    </form>
</div>